@media only screen and (min-width: 1024px) {

	.triangle-down-icon {
		width: 1.5em;
		height: 1.5em;
	    margin-top: -1.8em;
	}


	.navbar{
		background-color:$dark_blue;
		height: 5em;

		.svg-logo {
			height: 100%;
			width: 10em;
		}
	}

	.filters {

		width: 110%;
		max-width: 450px;

		.search-by-name {
			width:100%;
			
			form {
				width:100%;
			}
			
		}

		.filters-title {
			background-color: white;
			padding-top: 1em;
			padding-bottom: 0.5em;
			padding-right: 1em;
			padding-left: 1em;
			text-align:left;

			width: 100%;

			h4 {
				font-size: 1.2em;
				color: $dark_grey;
			}
		}

		.filters-input {
			background-color: white;
			padding-top: 1em;
			padding-bottom: 1.5em;
			padding-right: 1em;
			padding-left: 1em;

			width: 100%;

			input {
				max-width:200px;
				display:inline-block;
			}
			button {
				display:inline-block;
				margin-left: 1em;
				background-color: $dark_blue;
			}
		}

		.filters-stars {

			.star-title {
				padding-top: 1em;
			}

			.all-stars {
				padding-bottom: 1em;
			}

			.filters-options {
				padding-top: 25px;
     			padding-left: 1em;
  			    padding-bottom: 1em;

				
				strong {
					padding-left: 10px;
				}

				.star-container {
					padding-left: 10px;
					display: inline-block;
					.star {
						width:1em;
						height:auto;
					}
					
				}
			}
		}
	}

	.hotels{
		padding-top: 0.6em;

		.hotel{
			margin-top: 1em;
			margin-bottom: 1em;

			.hotel-image-frame {
				height: 200px;
			}

			.hotel-name {
				padding-top: 0;
				padding-bottom: 0;

				h3{
					font-size:1.3em;
				}
			}

			.hotel-stars {

				padding-top: 0;
				padding-bottom: 0;

				.star-container{
					.star {
						width: 20px;
						height: 20px;
					}
				}
			}

			.hotel-amenities {

				padding-top: 1em;
				
				.amenities-icon {
					width: auto;
					height: 1.5em;
					padding-right: 0.5em;
				}
			}

			.price-text {
				padding-top: 0.7em;

				h4 {
					font-size: 1em;
				}
			}

			.hotel-price {

				height: 2em;

				h3{
					font-size: 1.8em;

					strong {
						font-size: 1.3em;
					}
				}
			}

			.hotel-button {
				padding-top: 1.5em;
				padding-bottom: 0;

				button {
					height: 3em;
					max-width: 220px;
					margin:auto;

					p {
						font-size: 1em;	
					}
				}
			}

		}

	}

	.col-price{

		border-left-style: dotted;
		border-color: $light_grey;
		border-width: 0.2em;

	}















}